.app__footer {
  bottom: 0;
  height: 50px;
  width: 100%;
  p {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.8);
    height: 100%;
    line-height: 50px;
    font-size: 1.4rem;
    letter-spacing: 2px;
    font-family: 'Roboto', sans-serif;
  }
}