.form__contact {
  width: 50%;
  height: 85%;
  margin: auto;
  position: relative;
  input {
    display: block;
    width: 50%;
    height: 40px;
    margin: 0 auto 10px auto;
    background-color: rgba(0, 63, 80, 0.7);
    border: 1px solid #014052;
    border-bottom: 3px solid rgba(0, 25, 32, 0.7);
    outline: none;
    color: #fff;
    padding-left: 5px;
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    &:hover {
      border-bottom: 3px solid #f11303fd;
    }
  }
  span {
    display: block;
    color: red;
    font-size: 1.3rem;
    font-family: sans-serif;
    letter-spacing: 2px;
  }
  textarea {
    width: 50%;
    height: 60%;
    background-color: rgba(0, 63, 80, 0.7);
    outline: none;
    border: 1px solid #014052;
    border-bottom: 3px solid #001920;
    font-size: 1.6rem;
    padding: 5px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    &:hover {
      border-bottom: 3px solid #f11303fd;
    }
  }
}
.btn__form {
  display: block;
  margin: 5px auto;
  width: 90px;
  height: 40px;
  outline: none;
  border: 2px solid #001920;
  color: #fff;
  background-color: #001920;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  &:hover {
    background-color: #014051;
  }
}